html, body { height: auto; min-height: 100%; }

img { max-width: 100%; }

em img { max-width: 100%; margin-left: 0; }

body { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

a { color: #0076df; text-decoration: none; background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 13%, rgba(0, 118, 223, 0.8) 13%, rgba(0, 118, 223, 0.8) 18%, rgba(0, 0, 0, 0) 17%); text-shadow: white 1px 0px 0px, white -1px 0px 0px; }

a:hover, a:focus, a:active { border: 0; color: #000a13; text-decoration: none; background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 13%, rgba(0, 10, 19, 0.8) 13%, rgba(0, 10, 19, 0.8) 17%, rgba(0, 0, 0, 0) 17%); text-shadow: white 1px 0px 0px, white -1px 0px 0px; }

button, .button { text-shadow: none; background-image: none; }

.button:hover, .button:focus, .button:active { color: white; text-shadow: none; background-image: none; }

.left { float: left; }

.right { float: right; }

.clearfix:before, .clearfix:after { content: ' '; display: table; }

.clearfix:after { clear: both; }

html { font-family: lato-bold, sans-serif; font-size: 14px; }

abbr { border-bottom: 1px black dotted; cursor: help; }

p { color: #333; line-height: 1.5; }

small, .small { font-size: 0.707rem; }

sup { position: relative; vertical-align: middle; top: -0.9ex; }

.site-header { padding-top: 0.5rem; padding-bottom: 1rem; }

.site-header img { width: 82px; height: 80px; }

.site-header a { color: #84CBD5; font-size: 1.25rem; font-weight: 300; background-image: none; }

.site-header .site-title { font-size: 1.5rem; }

.site-nav { padding-top: 1rem; text-transform: uppercase; }

.site-header nav a { color: #84CBD5; }

.site-header nav a:hover, .site-header nav a:focus, .site-header nav a:active, .site-header nav a.nav-active:hover, .site-header nav a.nav-active:focus, .site-header nav a.nav-active:active { color: #444; opacity: 1; border-bottom: 2px solid #444; }

.site-header nav a.nav-active { border-bottom: 1px solid #ccc; }

.site-nav a + a { margin-left: 1rem; }

.site-header a:hover, .posts .post a:hover .post-meta, .posts .post a:hover .post-title, .posts .post a:hover .post-summary { opacity: 0.88; }

.site-header { text-align: center; }

.site-header .site-nav { text-align: center; }

.site { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.site-wrap { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

footer { background-color: #fafafa; border-top: thin solid #f3f3f3; color: #7a7a7a; font-size: 0.75rem; font-weight: 300; padding: 2rem; text-align: center; }

.social-icons-left, .social-icons-right { text-align: center; float: none; }

.social-icons { font-size: 1.25rem; padding: 0.5em 0 0 0; width: 100%; }

.social-icons a.fa { cursor: pointer; opacity: 0.8; padding: 0.2em; }

.social-icons a.fa:hover { opacity: 1; }

.social-icons iframe[title=Flattr] { position: relative; top: 0.1em; }

@media screen and (min-width: 32em) { html { font-size: 16px; } h1, .h1 { font-size: 2.998rem; } .site-header { text-align: left; } .site-nav { margin-top: 0; } .site-header a { font-size: 1rem; } .site-header .site-title { font-size: 1.25rem; float: left; } .site-header .site-nav { float: right; margin-top: .25rem; } blockquote { margin-left: 2rem; padding: 2rem; } .social-icons-left { text-align: left; } .social-icons-right { text-align: right; } }

@media screen and (min-width: 48em) { html { font-size: 18px; } }

@media screen and (min-width: 64em) { html { font-size: 20px; } }

@media screen and (min-width: 78em) { em img { max-width: 56rem; margin-left: -7em; } }

.measure { margin: 0 auto; max-width: 42rem; }

/*# sourceMappingURL=style.css.map */