---
title: Agenda
layout: default
permalink: agenda
---

<h2>Les évènements</h2>

{% for event in site.events %}
  <section class=event>
    <div class="picture">
      <img src="{{ event.id | append: '.jpg' | relative_url }}" alt="{{ event.name }}" />
    </div>
    <div class="details">
      <span class="date">{{ event.event_time | date: "%d/%m/%Y"}}</span>
      <span class="time">{{ event.event_time | date: "> %Hh%M"}}</span>
      <a href="https://www.facebook.com/events/{{ event.event_id}}" target="_blank">
        <h3>{{ event.name }}</h3>
        <div class="place">
          <i class="fa fa-map-marker"></i>
          {{ event.place }}
        </div>
      </a>
      <div class="excerpt">
        {{ event.excerpt }}
      </div>
      <a href="https://www.facebook.com/events/{{ event.event_id}}" target="_blank">S'inscrire / En savoir +</a>
    </div>
  </section>
{% endfor %}

<section class="organize">
  <h2>Vous souhaitez organiser un évènement à l'Atelier ?</h2>
  <p>Vous êtes les bienvenus !</p>
  <p>Votre évènement doit être gratuit et ouvert à tous et à visée non commerciale.</p>
  <p>On met à disposition pour les évènement:</p>
</section>

{% include icons.html icons=site.data.event_features display="flex" %}
