---
title: Les Evènements
layout: default
permalink: les-evenements
---

<h2>Les évènements</h2>

{% assign reversed_events = site.events | reverse %}

{% for event in reversed_events %}
  <section class=event>
    <div class="picture">
      <img src="/events/{{ event.cover }}" alt="{{ event.name | escape }}" />
    </div>
    <div class="details">
      <span class="date">{{ event.date | date: "%d/%m/%Y"}}</span>
      <span class="time">{{ event.date | date: "> %Hh%M"}}</span>
      <a href="https://www.facebook.com/events/{{ event.event_id}}" target="_blank">
        <h3>{{ event.name }}</h3>
        <div class="place">
          <i class="fa fa-map-marker"></i>
          {{ event.place }}
        </div>
      </a>
      <div class="excerpt">
        {{ event.excerpt }}
      </div>
      <a href="https://www.facebook.com/events/{{ event.event_id}}" target="_blank">S'inscrire / En savoir +</a>
    </div>
  </section>
{% endfor %}

<section class="organize">
  <h2>Vous souhaitez organiser un évènement à l'Atelier ?</h2>
  <p>Vous êtes les bienvenus !</p>
  <p>Votre évènement doit être gratuit et ouvert à tous et à visée non commerciale.</p>
  <p>On met à disposition pour les évènement:</p>
</section>

{% include icons.html icons=site.data.event_features display="flex" %}

<section class="contact">
  <form action="https://formspree.io/f/mrgjznyn" method="POST">
    <label id="decription-label" for="description-textarea">
      <h4>Décrivez votre évènement</h4>
      <small>(en 500 signes), ce paragraphe sera utilisé pour promouvoir votre évènement</small>
    </label>
    <textarea name="Description" id="description-textarea"></textarea>
    <label id="date-label" for="date-textarea">
      <h4>Date souhaitée</h4>
      <small>(sous réserve de validation par l'Atelier)</small>
    </label>
    <textarea name="Date souhaitée" id="date-textarea"></textarea>
    <label id="contact-label" for="name-input">
      <h4>Contact</h4>
    </label>
    <input id="name-input" placeholder="Prénom Nom" name="Prénom Nom">
    <input id="email-input" type="Email" placeholder="Email" name="_replyto">
    <input id="phone-input" placeholder="Téléphone" name="Téléphone">
    <input id="site-input" placeholder="Site / Réseaux sociaux (Facebook, Instagram, Twitter...)" name="Site ou réseaux sociaux">
    <div>
      <input id="already-checkbox" type="checkbox" name="A déjà organisé un évènement">
      <label for=already-checkbox>Vous avez déjà organisé un évènement à l'Atelier ? 
        <small>(Cochez si c'est le cas)</small>
      </label>
    </div>
    <div>
      <input id="charte-checkbox" type="checkbox" name="Charte acceptée">
      <label for=charte-checkbox>En tant qu'organisateur, je m'engage à <a href="{% link charte-des-evenements.md %}">respecter la charte</a>
        <small>(Cochez si c'est le cas)</small>
      </label>
    </div>
    <div>
      <input id="summary-checkbox" type="checkbox" name="Ok pour envoi photos et résumé après l'évènement">
      <label for=summary-checkbox>Après l'évènement, je m'engage à envoyer quelques photos et un résumé pour la communication de l'Atelier des Médias
        <small>(Cochez si c'est le cas)</small>
      </label>
    </div>
    </label>
    <input type="hidden" name="_language" value="fr" />
    <button type="submit">Faire une demande</button>
  </form>
</section>
