---
title: Le Coworking
layout: default
---

{% include video.html %}

{% include icons.html icons=site.data.features display="grid" %}

<section class="prose">
  <h2>Travailler à l'Atelier</h2>

  <div>
    <p>Créé en 2008, l'<em>Atelier des Médias</em> est le 1er espace de coworking lyonnais.</p>
    <p>C'est une association qui regroupe des professionnels des médias (journalisme, web, graphisme, traduction,
    vidéo/photo, etc.), un vivier de compétences qui collabore et invente de nouveaux modes de travail dans ce lieu de
    212m² en centre ville.</p>
    <p>Échanges, esprit d'ouverture et d'innovation, évènements, ambitions partagées, mise en commun d'outils et de
    compétences, nouvelles solidarités professionnelles se développent à l'<em>Atelier des Médias</em>.</p>
    <p>Plus de 30 postes de travail sont disponibles dans cet espace partagé.</p>
    <p>Assidus ou volages, les coworkeurs fréquentent les lieux en toute libertés et dans le respect des autres.</p>
    <p>Chacun donne un peu de son temps pour la gestion du lieu et s'investit dans un groupe (trésorerie, communication,
    évènements, informatique, recrutement, coopération, vie associative, vie quotidienne). Et ça fonctionne très bien
    !</p>
  </div>
</section>
