<section class="coworkers">
  <div class="coworkers_list">
    {% assign coworkers = site.coworkers | shuffle %}
    {% for coworker in coworkers %}
      <a class="coworker-card" href="{{ coworker.url | relative_url }}">
        <div class="coworker-picture">
          {%if coworker.picture_extension%}
            <img alt="{{ coworker.name}}"
                 src="{{ coworker.url | append: coworker.picture_extension | relative_url }}"/>
          {%endif %}
        </div>
        <div class="coworker-card_infos">
          <div class="coworker-card_infos_name">{{ coworker.name }}</div>
          {% if coworker.metier %}
            <div class="coworker-card_infos_metier">{{ coworker.metier }}</div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
