<header>
  <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
  <nav>
    <a class="logo" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/logo.svg" | relative_url }}" alt="{{ site.title }}" />
    </a>
    {% for item in site.data.navigation.menu %}
      <a class="nav-{% if page.title == item.title %}active{% else %}link{% endif %}"
         href="{{ item.url | relative_url | replace: 'index.html', '' }}">{{ item.title | escape }}</a>
    {% endfor %}
    <div class="social-icons">
      <a class="fa fa-linkedin" href="https://www.linkedin.com/company/{{ site.linkedin.page }}" target="_blank"></a>
      <a class="fa fa-facebook" href="https://www.facebook.com/{{ site.facebook.page }}" target="_blank"></a>
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter.username }}" target="_blank"></a>
      <a class="fa fa-instagram" href="https://www.instagram.com/{{ site.instagram.username }}" target="_blank"></a>
      <a class="fa fa-user" href="https://app.atelier-medias.org" target="_blank"></a>
    </div>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
