{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<ul>
  {% for path in page_paths %}
    {% assign item = site.pages | where: "path", path | first %}
    {% if item.title %}
      <li>
        {% if page.title == item.title %}
          <a class="nav-active" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% else %}
          <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
