<section class="big-video">
  <video autoplay muted loop playsinline poster="{{ "/assets/clip.jpeg" | relative_url }}">
    <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
    <source type="video/mp4" src="{{ "/assets/clip.mp4" | relative_url }}" />
    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
    <source type="video/webm" src="{{ "/assets/clip.webm" | relative_url }}" />
    <!-- M4V for Apple -->
    <source type="video/mp4" src="{{ "/assets/clip.m4v" | relative_url }}" />
    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
    <source type="video/ogg" src="{{ "/assets/clip.ogg" | relative_url }}" />
  </video>
  <a class="button" href="/nous-rejoindre">Nous rejoindre</a>
</section>
