@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.main {
  margin-top: 100px;
}
