.blogroll {
  max-width: 900px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;

  li {
    margin: 1rem;
    border: 1px solid #ddd;

    a {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 560px) {
        flex-direction: row;
      }

      div:first-child {
        flex: none;

        @media screen and (min-width: 560px) {
          width: 220px;
        }

        img {
          display: block;

          width: 100%;
          max-height: 320px;

          object-fit: cover;
          object-position: center 25%;

          @media screen and (min-width: 560px) {
            height: 160px;
          }
        }
      }

      div:last-child {
        flex: 1 1 0%;
        padding: .5rem 1rem;

        h2 {
          font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
        }

        .post-meta {
          font-size: .875rem;

          .author {
            color: #88ba30;
          }
        }
      }
    }
  }
}

.pager {
  display: block;

  margin: 1rem 1rem 2rem;

  list-style: none;
  text-align: center;

  li {
    display: inline;

    margin: 5px;
    padding: 10px;

    border: 1px solid #ddd;

    font-weight: bold;
  }

  .selected {
    background: #84cbd5;

    a {
      color: #fff;
    }
  }
}

.post-categories {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;

  li {
    display: inline-block;

    margin: 0;
    padding: .25rem .5rem;

    background: #88ba30;

    color: #fff;
    font-size: .875rem;
    list-style: none;
  }
}
