.event {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #979797;

  .picture {
    max-height: 20em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    padding: 2em;

    .time {
      font-size: .8rem;
    }

    a {
      h3 {
        text-transform: uppercase;
      }

      .place {
        font-size: .8em;
      }
    }
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;

    .picture {
      flex: 1 1 40%;
    }

    .details {
      flex: 1 1 60%;
    }
  }
}

.normal {
  .icons.flex {
    margin-bottom: 0;
  }
}

.contact {
  padding: 2em;
  border-top: solid 1px #84cbd5;
  background-color: #c2e5ea;
  max-width: 800px;
  border-radius: 5px;
  margin-bottom: 2rem;

  form {
    display: grid;

    gap: 1em;

    margin: 0 auto;

    label {
      font-weight: 600;
      text-transform: uppercase;
      font-size: .9rem;
    }

    small {
      display: block;
      text-transform: none;
      font-size: .8em;
      font-weight: 400;
    }

    textarea {
      min-height: 8em;
      resize: none;
    }

    textarea,
    input {
      padding: 1em;
      border: none;
      border-radius: 2px;
    }

    input[type="checkbox"] + label {
      text-transform: none;
      line-height: 1;
      font-size: .8rem;
    }

    input:focus, input:focus-visible,
    textarea:focus, textarea:focus-visible {
      outline: none;
      box-shadow: inset 0 0 1px 1px #c2e5ea;
    }

    button {
      justify-self: right;
      padding: 2em;
      border: none;
      background-color: #ef8a4a;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: 1px;
      transition: .3s;
    }

    button:hover {
      background: #84cbd5;
    }

    @media screen and (min-width: 600px) {
      grid-template-areas:
        "description-label contact-label"
        "description-textarea name-input"
        "description-textarea email-input"
        "description-textarea phone-input"
        "description-textarea site-input"
        "date-label date-label"
        "date-textarea already-checkbox"
        "date-textarea already-checkbox"
        "date-textarea already-checkbox"
        "empty button";

      #description-label {
        grid-area: description-label;
      }

      #description-textarea {
        grid-area: description-textarea;
      }

      #date-label {
        grid-area: date-label;
      }

      #date-textarea {
        grid-area: date-textarea;
      }

      #contact-label {
        grid-area: contact-label;
      }

      #name-input {
        grid-area: name-input;
      }

      button {
        grid-area: button;
      }
    }
  }
}
