.event {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #979797;

  .picture {
    max-height: 20em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    padding: 2em;

    .time {
      font-size: .8rem;
    }

    a {
      h3 {
        text-transform: uppercase;
      }

      .place {
        font-size: .8em;
      }
    }
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;

    .picture {
      flex: 1 1 40%;
    }

    .details {
      flex: 1 1 60%;
    }
  }
}

.organize {
  padding: 2em;

  h2,
  p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.contact {
  padding: 1em;
  border-top: solid 1px #8d8d8d;
  background-color: #ededed;

  form {
    display: grid;

    gap: 1em;

    max-width: 960px;
    margin: 0 auto;

    h4 {
      font-weight: 400;
      text-transform: uppercase;
    }

    small {
      display: block;
      font-size: .7rem;
    }

    textarea {
      min-height: 8em;
      resize: none;
    }

    textarea,
    input {
      margin: .5em 0;
      padding: 1em;
      border: none;
    }

    button {
      justify-self: right;

      padding: 1em;

      border: solid 1px #979797;

      background-color: #ef8a4a;

      color: white;
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    @media screen and (min-width: 600px) {
      grid-template-areas:
        "description-label contact-label"
        "description-textarea name-input"
        "description-textarea email-input"
        "description-textarea phone-input"
        "description-textarea site-input"
        "date-label date-label"
        "date-textarea already-checkbox"
        "date-textarea already-checkbox"
        "date-textarea already-checkbox"
        "empty button";

      #description-label {
        grid-area: description-label;
      }

      #description-textarea {
        grid-area: description-textarea;
      }

      #date-label {
        grid-area: date-label;
      }

      #date-textarea {
        grid-area: date-textarea;
      }

      #contact-label {
        grid-area: contact-label;
      }

      #name-input {
        grid-area: name-input;
      }

      button {
        grid-area: button;
      }
    }
  }
}
