header {
  .logo {
    img {
      width: 62px;
      height: 60px;
    }
  }

  nav {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;

    font-size: 14px;

    text-align: center;

    z-index: 2;

    a {
      margin: .5em;
      color: #333;
      text-transform: uppercase;
    }

    .nav-active {
      background-image: linear-gradient(to bottom, transparent 8px, #8dcdda 8px, #8dcdda 100%);
    }

    .social-icons {
      font-size: 1.25rem;

      a {
        color: #84cbd5;
      }
    }

    a:hover,
    a:focus,
    a:active {
      color: #444;
    }
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle:checked ~ nav {
    display: flex;
  }

  .nav-toggle-label {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;

    width: 4em;
    height: 4em;

    background-color: white;

    cursor: pointer;
    z-index: 3;

    span,
    span::before,
    span::after {
      display: block;

      position: relative;

      width: 2em;
      height: 2px;

      transition: all ease-in-out 100ms;

      border-radius: 2px;

      background-color: black;
    }

    span::before,
    span::after {
      position: absolute;
      content: "";
    }

    span::before {
      bottom: 7px;
    }

    span::after {
      top: 7px;
    }
  }

  .nav-toggle:checked ~ .nav-toggle-label span {
    background-color: transparent;
  }

  .nav-toggle:checked ~ .nav-toggle-label span::before {
    bottom: 0;
    transform: rotate(43deg);
  }

  .nav-toggle:checked ~ .nav-toggle-label span::after {
    top: 0;
    transform: rotate(-43deg);
  }

  @media screen and (min-width: 800px) {
    flex: 0 0 80px;

    nav {
      display: flex;

      position: fixed;
      top: 0;

      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 80px;

      z-index: 1;
    }

    .nav-toggle-label {
      display: none;
    }
  }
}
