header {
  .logo {
    img {
      width: 62px;
      height: 60px;
    }
  }

  a {
    color: #84cbd5;
    font-size: 1.3rem;
    font-weight: 300;
  }

  nav {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    background-color: white;
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    ul {
      list-style-type: none;
      li {
        text-transform: uppercase;
        margin-bottom: 1em;
        margin-left: 1em;
      }
    }

    a:hover,
    a:focus,
    a:active {
      color: #444;
      border-bottom: 2px solid #444;
    }
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle:checked ~ nav {
    display: flex;
  }

  .nav-toggle:checked ~ .nav-toggle-label span {
    background-color: transparent;
  }

  .nav-toggle:checked ~ .nav-toggle-label span::before {
    bottom: 0px;
    transform: rotate(43deg);
  }

  .nav-toggle:checked ~ .nav-toggle-label span::after {
    top: 0px;
    transform: rotate(-43deg);
  }

  .nav-toggle-label {
    background-color: white;
    width: 4em;
    height: 4em;
    position: fixed;
    right: 0;
    top: 0;

    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span,
    span::before,
    span::after {
      display: block;
      background-color: black;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
      transition: all ease-in-out 100ms;
    }
    span::before,
    span::after {
      content: "";
      position: absolute;
    }
    span::before {
      bottom: 7px;
    }
    span::after {
      top: 7px;
    }
  }

  .social-icons {
    font-size: 1.25rem;

    a {
      cursor: pointer;
      padding: 0.4em;
    }
  }

  @media screen and (min-width: 800px) {
    height: 80px;

    nav {
      background-color: white;
      position: fixed;
      height: 80px;
      width: 100%;
      top:0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      display: flex;
      flex-direction: row;
      a {
        margin: 1em;
      }
    }

    .nav-toggle-label {
      display: none;
    }
  }
}
