@use "mixings";

header {
  position: fixed;

  height: 80px;

  background-color: #fff;

  z-index: 1;

  inset: 0;

  .logo {
    img {
      width: 80px;
      height: 100%;
    }
  }

  nav {
    display: none;

    position: relative;

    flex-direction: column;
    align-items: center;

    max-width: 100%;
    height: 100%;

    font-size: 12px;

    text-align: center;

    z-index: 2;

    a {
      margin: .75em;

      transition: .2s;

      color: #333;
      letter-spacing: -.25px;
      text-transform: uppercase;
    }

    .nav-active {
      @include mixings.blue-background-mixin;
    }

    .social-icons {
      a {
        margin: .4em;
        color: #84cbd5;
        font-size: 1rem;
      }
    }

    a:hover,
    a:focus,
    a:active {
      color: #888;
    }
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle:checked ~ nav {
    display: flex;
  }

  .nav-toggle-label {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;

    align-items: center;
    justify-content: center;

    width: 4em;
    height: 4em;

    background-color: white;

    cursor: pointer;
    z-index: 3;

    span,
    span::before,
    span::after {
      display: block;

      position: relative;

      width: 2em;
      height: 2px;

      transition: all ease-in-out 100ms;

      border-radius: 2px;

      background-color: black;
    }

    span::before,
    span::after {
      position: absolute;
      content: "";
    }

    span::before {
      bottom: 7px;
    }

    span::after {
      top: 7px;
    }
  }

  .nav-toggle:checked ~ .nav-toggle-label span {
    background-color: transparent;
  }

  .nav-toggle:checked ~ .nav-toggle-label span::before {
    bottom: 0;
    transform: rotate(43deg);
  }

  .nav-toggle:checked ~ .nav-toggle-label span::after {
    top: 0;
    transform: rotate(-43deg);
  }

  @media screen and (width >= 800px) {
    flex: 0 0 80px;
    width: 100%;
    height: 80px;

    nav {
      display: flex;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin: 0 8rem;

      z-index: 1;
    }

    .nav-toggle-label {
      display: none;
    }
  }
}
