.big-video {
  position: relative;
  height: 75vh;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    position: absolute;
    right: 20%;
    bottom: 20%;

    padding: 1em;

    border: solid 1px white;

    color: white;
  }

  @media screen and (min-width: 800px) {
    height: calc(75vh - 80px);
  }
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 70ch;
    text-align: center;
  }

  a {
    margin: 2rem;
    padding: 2rem;

    border: solid 1px #84cbd5;

    font-size: 1.7rem;
  }
}
