section {
  margin: 2em 0;
  width: 100%;
}

section.big-video {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
  }
  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  @media screen and (min-width: 800px) {
    height: calc(100vh - 80px);
  }
}

section.normal {
  padding: 2em;
  max-width: 960px;

  @media screen and (min-width: 800px) {
    display: flex;
    h2 {
      padding: 1em;
      padding-top: 2em;
    }
  }
}

section.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    max-width: 70ch;
  }
  a {
    font-size: 1.7rem;
    border: solid 1px #84cbd5;
    padding: 2rem;
    margin: 2rem;
  }
}
