.big-video {
  position: relative;
  height: 75vh;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    position: absolute;
    right: 30%;
    bottom: 30%;

    border-color: white;

    color: white;
  }

  @media screen and (min-width: 800px) {
    height: calc(75vh - 80px);
  }
}
