section.icons {
  padding: 2em;
  display: grid;
  justify-items: center;
  gap: 2em;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    img {
      width: 75px;
      height: 50px;
    }

    figcaption {
      text-transform: uppercase;
      text-align: center;
      font-weight: 100;
      span {
        display: block;
        font-weight: 400;
      }
    }
  }
  @media screen and (min-width: 400px) {
    max-width: 400px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 800px) {
    max-width: 800px;
    grid-template-columns: repeat(4, 1fr);
  }
}
