.icons {
  gap: 2em;

  figure {
    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 1em;

    img {
      width: 75px;
      height: 45px;
    }

    figcaption {
      font-size: .8rem;
      text-align: center;
      text-transform: uppercase;

      span {
        display: block;
        font-weight: 600;
      }
    }
  }
}

.icons.grid {
  display: grid;
  margin: 2rem 0 4rem;
  justify-items: center;

  @media screen and (width >= 400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 800px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.icons.flex {
  display: flex;
  justify-content: space-between;
  margin: 2rem -1rem;

  @media screen and (width >= 500px) {
    //flex-flow: row wrap;
    //max-width: 500px;
  }

  figure {
    margin: 1rem;
  }
}
