html {
  font-family: lato-bold, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

p {
  color: #333;
  line-height: 1.5;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
