html {
  color: #4d4d4d;

  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .03em;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  padding-top: 1em;
  color: #333;
}
