* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }
html, body { height: 100%; }
body { display: flex; flex-direction: column; }
.content { display: flex; flex: 1 0 auto; flex-direction: column; align-items: center; width: 100%; }
section { width: 100%; }
footer { flex-shrink: 0; width: 100%; }
.rice-crispies { background: url("//assets/rice-crispies.jpg") repeat repeat center; }
a { color: #84cbd5; text-decoration: none; }
a:hover, a:focus, a:active { border: 0; text-decoration: none; }
button, .button { background-image: none; text-shadow: none; cursor: pointer; }
.button:hover, .button:focus, .button:active { background-image: none; color: white; text-shadow: none; }
html { color: #4d4d4d; font-family: Lato, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: .03em; }
h1, h2, h3, h4 { font-weight: 600; }
p { padding-top: 1em; color: #333; }
header .logo img { width: 62px; height: 60px; }
header nav { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; flex-direction: column; align-items: center; justify-content: center; background-color: white; text-align: center; z-index: 2; }
header nav a { margin: .5em; color: #333; text-transform: uppercase; }
header nav .nav-active { background-image: linear-gradient(to bottom, transparent 8px, #8dcdda 8px, #8dcdda 100%); }
header nav .social-icons { font-size: 1.25rem; }
header nav .social-icons a { color: #84cbd5; }
header nav a:hover, header nav a:focus, header nav a:active { color: #444; }
header .nav-toggle { display: none; }
header .nav-toggle:checked ~ nav { display: flex; }
header .nav-toggle-label { display: flex; position: fixed; top: 0; right: 0; align-items: center; justify-content: center; width: 4em; height: 4em; background-color: white; cursor: pointer; z-index: 3; }
header .nav-toggle-label span, header .nav-toggle-label span::before, header .nav-toggle-label span::after { display: block; position: relative; width: 2em; height: 2px; transition: all ease-in-out 100ms; border-radius: 2px; background-color: black; }
header .nav-toggle-label span::before, header .nav-toggle-label span::after { position: absolute; content: ""; }
header .nav-toggle-label span::before { bottom: 7px; }
header .nav-toggle-label span::after { top: 7px; }
header .nav-toggle:checked ~ .nav-toggle-label span { background-color: transparent; }
header .nav-toggle:checked ~ .nav-toggle-label span::before { bottom: 0; transform: rotate(43deg); }
header .nav-toggle:checked ~ .nav-toggle-label span::after { top: 0; transform: rotate(-43deg); }
@media screen and (min-width: 800px) { header { flex: 0 0 80px; } header nav { display: flex; position: fixed; top: 0; flex-direction: row; align-items: center; justify-content: center; width: 100%; height: 80px; z-index: 1; } header nav a { margin: 1em; } header .nav-toggle-label { display: none; } }
.big-video { position: relative; height: 75vh; overflow: hidden; }
.big-video video { width: 100%; height: 100%; object-fit: cover; }
.big-video a { position: absolute; right: 20%; bottom: 20%; padding: 1em; border: solid 1px white; color: white; }
@media screen and (min-width: 800px) { .big-video { height: calc(75vh - 80px); } }
.normal { max-width: 960px; padding: 2em; }
@media screen and (min-width: 800px) { .normal { display: flex; padding: 4em 0; } .normal h2 { align-self: center; min-width: 10ch; padding: 0 1em; text-align: right; } }
.interest { display: flex; flex-direction: column; align-items: center; }
.interest p { max-width: 70ch; text-align: center; }
.interest a { margin: 2rem; padding: 2rem; border: solid 1px #84cbd5; font-size: 1.7rem; }
.formulas .formula { width: 100%; padding: 2em; color: white; }
.formulas .formula p { color: white; }
.formulas .formula h3 { margin-bottom: 1em; }
.formulas .formula ul { margin-top: 2rem; padding-left: 20px; font-weight: 100; list-style: none; }
.formulas .formula ul li::before { display: inline-block; width: 1em; margin-left: -1em; color: white; content: ">"; }
.formulas .formula .tarif { display: flex; justify-content: center; gap: .5rem; margin: 2em 0; padding: 1em; border: solid 1px white; }
.formulas .formula .tarif span { font-size: 2rem; }
.formulas .formula small { display: inline-block; text-align: center; }
.formulas .adherent { border-radius: 0 0 0 60px; background-color: #4d4d4d; }
.formulas .fixe { border-radius: 0 0 60px; background-color: #cbd301; }
.formulas .nomade { border-radius: 0 60px 0 0; background-color: #84cbd5; }
@media screen and (min-width: 400px) { .formulas { display: grid; gap: .5rem; justify-items: center; } .formulas .formula { width: 400px; } .formulas .formula h3 div { display: inline; } }
@media screen and (min-width: 400px) and (min-width: 800px) { .formulas { background: url("//assets/rice-crispies.jpg") repeat no-repeat center; } .formulas .adherent { grid-column: span 2; } .formulas .fixe { justify-self: flex-end; } .formulas .nomade { justify-self: flex-start; } }
.icons { gap: 2em; padding: 2em; }
.icons figure { display: flex; flex-direction: column; align-items: center; gap: 1em; }
.icons figure img { width: 75px; height: 50px; }
.icons figure figcaption { font-size: .8rem; font-weight: 100; text-align: center; text-transform: uppercase; }
.icons figure figcaption span { display: block; font-size: 1.2rem; font-weight: 400; }
.icons.grid { display: grid; justify-items: center; }
@media screen and (min-width: 400px) { .icons.grid { max-width: 400px; grid-template-columns: repeat(2, 1fr); } }
@media screen and (min-width: 800px) { .icons.grid { max-width: 800px; grid-template-columns: repeat(4, 1fr); } }
.icons.flex { display: flex; flex-direction: column; justify-content: center; }
@media screen and (min-width: 500px) { .icons.flex { flex-flow: row wrap; max-width: 500px; } }
.event { display: flex; flex-direction: column; border-top: solid 1px #979797; }
.event .picture { max-height: 20em; }
.event .picture img { width: 100%; height: 100%; object-fit: cover; }
.event .details { padding: 2em; }
.event .details .time { font-size: .8rem; }
.event .details a h3 { text-transform: uppercase; }
.event .details a .place { font-size: .8em; }
@media screen and (min-width: 600px) { .event { flex-direction: row; } .event .picture { flex: 1 1 40%; } .event .details { flex: 1 1 60%; } }
.organize { padding: 2em; }
.organize h2, .organize p { max-width: 600px; margin: 0 auto; text-align: center; }
.contact { padding: 1em; border-top: solid 1px #8d8d8d; background-color: #ededed; }
.contact form { display: grid; gap: 1em; max-width: 960px; margin: 0 auto; }
.contact form h4 { font-weight: 400; text-transform: uppercase; }
.contact form small { display: block; font-size: .7rem; }
.contact form textarea { min-height: 8em; resize: none; }
.contact form textarea, .contact form input { margin: .5em 0; padding: 1em; border: none; }
.contact form button { justify-self: right; padding: 1em; border: solid 1px #979797; background-color: #ef8a4a; color: white; font-size: 1.4rem; text-transform: uppercase; }
@media screen and (min-width: 600px) { .contact form { grid-template-areas: "description-label contact-label" "description-textarea name-input" "description-textarea email-input" "description-textarea phone-input" "description-textarea site-input" "date-label date-label" "date-textarea already-checkbox" "date-textarea already-checkbox" "date-textarea already-checkbox" "empty button"; } .contact form #description-label { grid-area: description-label; } .contact form #description-textarea { grid-area: description-textarea; } .contact form #date-label { grid-area: date-label; } .contact form #date-textarea { grid-area: date-textarea; } .contact form #contact-label { grid-area: contact-label; } .contact form #name-input { grid-area: name-input; } .contact form button { grid-area: button; } }
footer { font-size: .75rem; }
footer div { width: 100%; padding: 2rem; }
footer .contact { background-color: #84cbd5; color: white; text-align: center; }
footer .contact ul { list-style: none; }
footer .contact a { color: white; font-weight: 400; }
footer .collectif { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 9px; }
@media screen and (min-width: 600px) { footer .contact ul li { display: inline; } footer .contact ul li::after { content: " -"; } footer .contact ul li:last-child::after { content: ""; } footer .collectif { flex-direction: row; } }
.coworker-picture { display: flex; width: 100%; aspect-ratio: 1; }
.coworker-picture img { width: 100%; aspect-ratio: 1; object-fit: cover; }
.coworker-tags { display: flex; align-items: center; justify-content: center; padding: .5rem; overflow: scroll; }
.coworker-tags .coworker-tag { position: relative; padding: 1rem; color: #4d4d4d; font-size: .8rem; text-align: center; }
.coworker-tags .coworker-tag::after { position: absolute; top: 50%; right: 0; width: 1px; height: 50px; transform: translateY(-50%); background-color: #4d4d4d; content: ""; }
.coworker-tags .coworker-tag:last-child::after { display: none; }
.coworkers_list { display: grid; grid-template-columns: 1fr 1fr; }
.coworkers_list .coworker-card { display: block; position: relative; background-color: black; color: transparent; }
.coworkers_list .coworker-card_infos { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }
.coworkers_list .coworker-card_infos_metier { font-weight: 400; text-transform: uppercase; }
.coworkers_list .coworker-card:hover { color: white; }
.coworkers_list .coworker-card:hover .coworker-picture { filter: brightness(30%); }
@media screen and (min-width: 600px) { .coworkers_list { grid-template-columns: repeat(4, 1fr); } }
@media screen and (min-width: 900px) { .coworkers_list { grid-template-columns: repeat(6, 1fr); } }
.coworker-page { display: grid; max-width: 960px; }
.coworker-page_infos { display: flex; flex-direction: column; gap: .5rem; width: 100%; padding: 1rem; background-color: #84cbd5; text-align: center; text-transform: uppercase; }
.coworker-page_infos_name, .coworker-page_infos_metier, .coworker-page_infos_social_link { color: white; }
.coworker-page_infos_social { display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem; font-size: 2rem; }
.coworker-page_questions { padding: 1em; }
@media screen and (min-width: 600px) { .coworker-page { gap: 1em; padding: 1em; grid-template-areas: "picture questions" "infos questions" "tags questions" "empty questions"; } .coworker-page .coworker-picture, .coworker-page_infos, .coworker-page .coworker-tags { justify-self: end; max-width: 300px; } .coworker-page .coworker-picture { max-width: 300px; grid-area: picture; } .coworker-page_infos { text-align: right; grid-area: infos; } .coworker-page_infos_social { justify-content: end; } .coworker-page .coworker-tags { justify-content: end; grid-area: tags; } .coworker-page_questions { grid-area: questions; } }
.blogroll { max-width: 900px; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; list-style: none; }
.blogroll li { margin: 1rem; border: 1px solid #ddd; }
.blogroll li a { display: flex; flex-direction: column; }
@media screen and (min-width: 560px) { .blogroll li a { flex-direction: row; } }
.blogroll li a div:first-child { flex: none; }
@media screen and (min-width: 560px) { .blogroll li a div:first-child { width: 220px; } }
.blogroll li a div:first-child img { display: block; width: 100%; max-height: 320px; object-fit: cover; object-position: center 25%; }
@media screen and (min-width: 560px) { .blogroll li a div:first-child img { height: 160px; } }
.blogroll li a div:last-child { flex: 1 1 0%; padding: .5rem 1rem; }
.blogroll li a div:last-child h2 { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.25rem; font-weight: bold; }
.blogroll li a div:last-child .post-meta { font-size: .875rem; }
.blogroll li a div:last-child .post-meta .author { color: #88ba30; }
.pager { display: block; margin: 1rem 1rem 2rem; list-style: none; text-align: center; }
.pager li { display: inline; margin: 5px; padding: 10px; border: 1px solid #ddd; font-weight: bold; }
.pager .selected { background: #84cbd5; }
.pager .selected a { color: #fff; }
.post-categories { display: flex; gap: .5rem; margin-top: .5rem; }
.post-categories li { display: inline-block; margin: 0; padding: .25rem .5rem; background: #88ba30; color: #fff; font-size: .875rem; list-style: none; }
.post { max-width: 900px; margin: 2rem auto; }
.post .featured { width: 100%; max-height: 514px; margin: 1rem 0; object-fit: cover; }
.post .post-content { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.post .post-content img { display: block; max-width: 100%; margin: 1rem auto; }
.post .post-content figure { margin: 1rem 0; }
.post .post-content figure img { margin: 0; }
.post .post-content figure figcaption { margin-top: .5rem; margin-bottom: 1rem; text-align: center; }
.post .post-content .twitter-tweet { margin: 1rem auto !important; }
.post .post-content ul { margin: 1rem 2rem 0; }
.post .post-content ul li { list-style-type: circle; }
/*# sourceMappingURL=style.css.map */