---
layout: default
---

<section class="normal">
  {{ content }}
</section>

<section class="contact">
  <form action="https://formspree.io/f/mzboqawe" method="POST">
    <label id="decription-label" for="description-textarea">
      <h4>Votre message</h4>
    </label>
    <textarea name="Description" id="description-textarea"></textarea>
    <label id="contact-label" for="name-input">
      <h4>Contact</h4>
    </label>
    <input id="name-input" placeholder="Prénom Nom" name="Prénom Nom">
    <input id="email-input" type="Email" placeholder="Email" name="_replyto">
    <input type="hidden" name="_language" value="fr" />
    <button type="submit">Envoyer</button>
  </form>
</section>
