name: HTML Proofer

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Jekyll build
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build
      - name: HTML proofer
        env:
          JEKYLL_ENV: production
        run: bundle exec rake html_proofer
